beautifulsoup4==4.12.3
bidict==0.22.1
bs4==0.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
cloudpickle==3.0.0
contourpy==1.2.0
cycler==0.12.1
dyplot==0.8.8
Farama-Notifications==0.0.4
filelock==3.13.1
fonttools==4.47.0
fsspec==2023.12.2
gymnasium==0.29.1
h11==0.14.0
idna==3.6
Jinja2==3.1.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.2
mpmath==1.3.0
-e git+https://github.com/shrawnh/autonomous-navigation.git@51dfa2f1712c3fc995a3530783a7019cc098e64d#egg=myenv
networkx==3.2.1
numpy==1.26.3
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-engineio==4.9.0
python-socketio==5.11.1
pytz==2023.3.post1
requests==2.31.0
simple-websocket==1.0.0
six==1.16.0
soupsieve==2.5
stable-baselines3==2.2.1
sympy==1.12
toml==0.10.2
torch==2.1.2
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wsproto==1.2.0
